/*>=1440的设备*/
@media (min-width: 1440px) {
  body{font-size: 14px !important;}
    #header{
      height:70px;
    }
    #header > .header-title{
      font-size:16px;
      font-weight:400;
    }
    #header .header-title img{
      width:20%;
      margin-right:12px;
    }
    /* banner */
    .banner button{
      position:absolute;
      width:502px;
      height:45px;
      font-size:14px;
      font-weight:300;
      color:rgba(88,88,90,1);
    }
  } 